%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_first_files, ["src/pt_macro.erl", "src/pt_recompilable.erl"]}.

%% Erlang compiler options
{erl_opts, [
        debug_info,
        compresses,
        warn_export_all,
        warning_as_error,
        {i, "include"},
        {src_dirs, ["src"]}
    ]}.

{deps,
     [
        {pt_lib, ".*", {git, "https://github.com/eltex-ecss/pt_lib.git"}}
    ]
}.